/* styles.css */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.reserve-modal {
    display: flex;
    justify-content: center;
    align-items: start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.reserve-modal-content {
    background: #363f51;
    width: 80%;
    max-width: 800px;
    margin-top: 100px;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 1px 1px 20px 5px #ffffff1f;
}

.reserve-modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
    font-size: 40px;

}

.payment-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    color: white;
    font-size: 16px;
    justify-content: center;
    margin-bottom: 100px;
}

.movie-info, .order-summary {
    padding: 20px;
    box-sizing: border-box;
}

.movie-info {
    display: flex;
    justify-content: center;
    align-items: center;
}


.movie-info img {
    width: 100%;
    max-width: 230px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.movie-mics-info {
    background: #363f51ba;
    width: max-content;
    padding: 2px 5px;
    border-radius: 5px;
    border: 1px solid #ffffff1b;
}

.movie-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.cinema-title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    color: #a4a8b0;
    margin-bottom: 30px;    
}

.cinema-time-start, .cinema-time-end {
    font-size: 15px;
    font-weight: 300;
    color: #a4a8b0;
    margin-bottom: 0px;    
}

.cinema-time-end {
    color: white;
    margin-bottom: 30px;
}

.details {
    margin-left: 40px;
}

.order-summary {
    display: flex;
    justify-content: space-between;
}

.order-summary .left, .order-summary .right {
    width: 45%;
}

.order-summary .left h1, .order-summary .right h1 {
    font-size: 20px;
    font-weight: bold;
}

.total-price, .order {
    display: flex;
    justify-content: space-between;
}

.order-hr, .split-hr {
    border: 1px solid #ffffff1b;
    margin: 20px 0;
}

.order-name {
    font-size: 15px;
    font-weight: 300;
}

.order-price {
    font-size: 18px;
    font-weight: bold;
}

.total-price-name {
    font-size: 18px;
    font-weight: 300;
}

.price {
    font-size: 20px;
    font-weight: bold;
}

.order-details, .user-info {
    background: #363f51ba;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ffffff1b;
    width: 100%;
    margin-left: 5px;
}

.order-details p, .user-info p {
    margin: 10px 0;
}


button {
    padding: 10px;
    width: 100%;
    border: none;
    background: #0066cc;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background: #0055a5;
}

.next-button {
    background: #f60;
    min-width: 100px;
}

.next-button:hover {
    background: #e50;
}

@media (max-width: 768px) {
    .payment-container {
        flex-direction: column;
    }

    .movie-info, .order-summary {
        flex-basis: 100%;
    }


}


.chosen-tickets {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
    overflow-x: auto;
    width: 500px;
    /* border: 1px solid red; */
    gap: 5px;
    padding-bottom: 5px;
}

.chosen-ticket {
    background-color: #004B8D;
    border-radius: 10px;
    padding: 5px 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    display: inline-block;
}

.chosen-ticket-content {
    display: flex;
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.chosen-ticket-details {
    background-color: #1A1A1A;
    margin: 0 3px;
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.hall-ticket-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hall-name-display {
    background-color: #004B8D;
    padding: 15px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: inline-block;
    color: white;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}



  /* Footer */
  .booking-footer {
    background-color: rgba(16, 21, 31, 0.607);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.booking-footer .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking-footer .time {
    text-align: right;
}

.booking-footer .time p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.booking-footer .time span {
    font-size: 10px;
    font-weight: 300;
}

.next-button {
    background-color: #2d7dfe;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;   
    width: min-content; 
    margin: 0;
}

.footer-standing-hr {
    border: 1px solid #ffffff;
    width: 50px;
    transform: rotate(90deg);
}

.next-button:hover {
    background-color: #003366;
}

.back-button {
    margin-right: 10px;
}